<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper" ng-class="theme.navBarColor">
			<a href="#!" class="brand-logo valign-wrapper">
				<img src="./assets/logoLunch.png">
			</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">

	        	<li ng-repeat="(index, itemMenu) in menu" ng-class="menuClasses[index]"><a ng-click="goto(itemMenu.linkTo)"><i class="material-icons left">{{itemMenu.icon}}</i>{{itemMenu.name}}</a></li>
	        	<li><a href="#!" style="height: 64px;" class="valign-wrapper dropdown-button" data-activates="dropdownPerfil">Mi Perfil<i class="material-icons right">arrow_drop_down</i> <img ng-src="{{user.photoURL}}" alt="" class="circle navBarImg white valign"/></a></li>
	      	</ul>
		</div>
	</nav>
</div>
<div class="row center-align" style="margin-top: 150px;" ng-show="loadingEncounter">
	<div class="preloader-wrapper big active center-align">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>
<div class="parallax-container valign-wrapper" style="max-height: 200px" ng-show="!loadingEncounter">
  	<div class="section no-pad-bot">
    	
  	</div>
  	<div class="parallax"><img ng-src="{{thisEncounter.coverImg}}" alt="Unsplashed background img 3"></div>
</div>
<div class="row white-text" style="margin-bottom: 0px;" ng-class="theme.importantContent" ng-show="!loadingEncounter">
	<div class="row"></div>
	<div class="col m11 offset-m1">
		
		<div class="col m4">
			<div class="row">
				<div class="col m1">
					<i class="material-icons left">location_on</i>
				</div>
				<div class="col m11">
					{{thisEncounter.place}} en {{adminserv.getContextById('name','city',[thisEncounter.country, thisEncounter.city])}} , {{adminserv.getContextById('name','country',thisEncounter.country)}}
				</div>
			</div>
		</div>
		<div class="col m4">
			<div class="row">
				<div class="col m1">
					<i class="material-icons left">event</i>
				</div>
				<div class="col m11">
					{{adminserv.interpretDate(thisEncounter.date)}}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" ng-show="!loadingEncounter">
	<h4>{{thisEncounter.name}} <span class="new badge blue tooltipped" data-position="bottom" data-delay="50" data-tooltip="Este evento aparece en la lista pública de tu ciudad" ng-show="thisEncounter.privacy=='public'" data-badge-caption="evento público"></span><span class="new badge red" ng-show="thisEncounter.privacy=='private'" data-badge-caption="evento privado"></span></h4>
	<div class="divider"></div>
	<div class="row" ng-show="!loadingEncounter">
		<div class="col m4 l4 blue-grey lighten-5">
			<div class="col m12">
				<div class="card-panel" ng-class="theme.importantContent">
					<span class="white-text">{{thisEncounter.description}}</span>
				</div>
			</div>
			<h4>LunChef</h4>
			<ul class="collection">
			    <li class="collection-item avatar">
					<img ng-src="{{organizer.photoURL}}" alt="" class="circle">
					<span class="title"><a ng-href="#!/usuario/{{organizer.$id}}">{{organizer.name}} {{organizer.lastNames}}</a></span>
					<p>{{adminserv.getContextById('name','city',[organizer.countryId, organizer.cityId])}} , {{adminserv.getContextById('name','country',organizer.countryId)}}</p>
			    </li>
			</ul>
			<a class="btn" ng-click="deleteEncounter()" ng-if="iAmAdmin">Eliminar mesa</a>
		</div>
		<div class="col m8 ">
			<div class="row" ng-show="userIsInQueue" style="padding-left:20px; padding-right: 20px;">
				<div class="card-panel" ng-class="theme.warning.medium">
					<span class="white-text">En este momento estás en la FILA para este encuentro!
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col m6">
					<h5>Datos Generales</h5>
					<table class="striped">
						<tbody>
							<tr>
								<td>Fecha</td>
								<td>{{adminserv.interpretDate(thisEncounter.date)}}</td>
							</tr>
							<tr>
								<td>Hora de inicio</td>
								<td>{{thisEncounter.startingAt}}</td>
							</tr>
							<tr>
								<td>Hora de finalizar</td>
								<td>{{thisEncounter.endingAt}}</td>
							</tr>
							<tr>
								<td>Lugar</td>
								<td>{{thisEncounter.place}}</td>
							</tr>
							<tr>
								<td>Cómo llegar?</td>
								<td>{{thisEncounter.directions}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col m6">
					<h5>Comensales</h5>
					<div class="row">
						<div class="chip" ng-repeat="player in thisEncounter.players">
						    <img ng-src="{{player.photoURL}}" alt="Contact Person">
						    <a ng-href="#!/usuario/{{player.userKey}}">{{player.name}}</a>
							<i class="myClose material-icons" ng-if="adminserv.userIsMe(player.userKey) || iAmAdmin" ng-click="removePlayer(player)">close</i>
						</div>
					</div>
					<div class="chip" ng-repeat="puesto in thisEncounter.availableSeats">
					    <img ng-src="{{puesto.photoURL}}" >
					    <a ng-click="rsvp()">{{puesto.name}}</a>
					</div>
					
					<div ng-if="iAmAdmin">
						<h5>Jugadores en fila</h5>
						<div class="divider"></div>
						<div class="chip" ng-repeat="player in thisEncounter.queue">
						    <img ng-src="{{player.photoURL}}" alt="Contact Person">
						    <a ng-href="#!/usuario/{{player.userKey}}">{{player.name}}</a>
							<i class="myClose material-icons" ng-click="removeQueuer(player)" ng-if="adminserv.userIsMe(player.userKey) || iAmAdmin">close</i>
							<i class="myClose material-icons" ng-click="acceptQueuer(player)" ng-if="adminserv.userIsMe(player.userKey) || iAmAdmin">done</i>
						</div>
					</div>
					<h5>Discusión</h5>
					<div class="divider"></div>
					<div class="row">
						<div class="col m10">
							<input placeholder="Comenta algo..." ng-model="newMessage.text"/>
						</div>
						<div class="col m2">
							<a class="btn " ng-click="addMessage()"><i class="material-icons">send</i></a>
						</div>
					</div>
					<div class="row">
						<ul class="collection">
						    <li class="collection-item avatar" ng-repeat="message in thisEncounter.discussion | orderBy:'-'">
								<img ng-src="{{message.author.photoURL}}" alt="" class="circle">
								<span class="title"><a ng-href="#!/usuario/{{message.author.userKey}}">{{message.author.name}} {{message.author.lastNames}}</a> dice:</span>
								<p class="grey-text">{{adminserv.interpretDateMessage(message.date)}}</p>
								<p>{{message.text}}</p>
						    </li>
						</ul>
					</div>
					
					
				</div>
			</div>
					
					<!--
					<div class="col s12 m4" ng-repeat="player in thisEncounter.players">
						<div class="card small">
							<div class="card-image">
								<img ng-src="{{player.photoURL}}">
							</div>
							<div class="card-content">
								<span class="activator grey-text text-darken-4">{{player.name}}<i class="material-icons right">more_vert</i></span>
							</div>
							<div class="card-reveal">
      							<span class="card-title grey-text text-darken-4">{{player.name}}<i class="material-icons right">close</i></span>
      							<ul>
      								<li><a href="#!">Remover jugador</a></li>
      								<li><a href="#!">Ver Perfil</a></li>
      							</ul>
    						</div>
							<div class="card-action">
								<a>Ver perfil</a>
							</div>
						</div>
					</div>
					-->
				
		</div>
	</div>
</div>