<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper" ng-class="theme.navBarColor">
			<a href="#!" class="brand-logo valign-wrapper">
				<span >LunchEra</span>
			</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">

	        	<li ng-repeat="(index, itemMenu) in menu" ng-class="menuClasses[index]"><a ng-click="goto(itemMenu.linkTo)"><i class="material-icons left">{{itemMenu.icon}}</i>{{itemMenu.name}}</a></li>
	        	<li><a href="#!" style="height: 64px;" class="valign-wrapper dropdown-button" data-activates="dropdownPerfil">Mi Perfil<i class="material-icons right">arrow_drop_down</i> <img ng-src="{{user.photoURL}}" alt="" class="circle navBarImg white valign"/></a></li>
	      	</ul>
		</div>
	</nav>
</div>
<div class="row center-align" style="margin-top: 150px;" ng-show="loadingUser">
	<div class="preloader-wrapper big active center-align">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>
<div class="parallax-container valign-wrapper" style="max-height: 200px" ng-show="!loadingUser">
  	<div class="section no-pad-bot">
    	<div class="container">
      		<div class="row center">
        		<div class="col m6 offset-m3">
        			<div class="col m6 offset-m3">
        				<img class="responsive-img circle" ng-src="{{host.photoURL}}" style="background-color:white">
        				
        			</div>
        		</div>
     		</div>
     		<div class="row center">
     			<h5 class="header col s12 light">{{host.name}} {{host.lastNames}}</h5>
     			<div class="row center">
     				<span class="valign">{{adminserv.getContextById('name','city',[host.countryId, host.cityId])}} , {{adminserv.getContextById('name','country',host.countryId)}}</span>
     			</div>
     		</div>
    	</div>
  	</div>
  	<div class="parallax"><img ng-src="{{host.coverImg}}" /></div>
</div>
<div class="row white-text valign-wrapper" style="margin-bottom: 0px;" ng-class="theme.importantContent" ng-show="!loadingUser">
	<div class="col m6 offset-m3">
		<div class="col m4 left-stat" ng-class="theme.stats3">
			<h4 class="center">{{host.collection.owned.length}}</h4>
			<p class="center">Juegos en biblioteca</p>
		</div>
		<div class="col m4 center-stat" ng-class="theme.stats2">
			<h4 class="center">20</h4>
			<p class="center">Partidas registradas</p>
		</div>
		<div class="col m4 right-stat" ng-class="theme.stats1">
			<h4 class="center">34</h4>
			<p class="center">Kasdh</p>
		</div>
	</div>
	<div class="col m2 valign">
		<a class="waves-effect waves-light btn-large" ng-show="!userIsMe" ng-click="openMessageModal()" ng-class="theme.navFabColor"><i class="material-icons right">mail</i>Enviar un mensaje</a>
	</div>
</div>
<div class="container">
	<div class="row" ng-show="!modeEdit && !loadingUser">
		<div class="col m4 l4 blue-grey lighten-5" >
			<div class="col m12">
				<div class="col m12">
					<div class="card-panel" ng-class="theme.importantContent">
						<span class="white-text">{{host.bio}}</span>
					</div>
				</div>
			</div>
			<div class="col m12">
				<div class="row">
					<div class="col m2">
						<i class="material-icons left">location_on</i>
					</div>
					<div class="col m10">
						{{adminserv.getContextById('name','city',[host.countryId, host.cityId])}} , {{adminserv.getContextById('name','country',host.countryId)}}
					</div>
				</div>
			</div>
			<div class="col m12">
				<div class="row">
					<div class="col m2">
						<i class="material-icons left">email</i>
					</div>
					<div class="col m10">
						{{host.email}}
					</div>
				</div>
			</div>
			<div class="col m12">
				<div class="row">
					<div class="col m2">
						<i class="material-icons left">phone</i>
					</div>
					<div class="col m10">
						{{host.telephone}}
					</div>
				</div>
			</div>
			<div class="col m12">
				<div class="row">
					<div class="col m12">
						Miembro desde: {{adminserv.interpretDate(host.memberSince)}}
					</div>
				</div>
			</div>	
		</div>
		<div class="col m8 ">
			
		</div>
	</div>
</div>

<div id="modalMessage" class="modal">
	<div class="modal-content">
		<h4>Mensaje para {{host.name}}</h4>
		<div class="input-field col s12">
			<textarea class="materialize-textarea" placeholder="escribe aquí tu mensaje" ng-model="newMessage"></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<a  class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="sendMessage()">Enviar</a>
	</div>
</div>


